body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0 auto; /* Alinea al centro */
    padding: 0;
}

h2 {
    color: #343a40;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:hover {
    background-color: #f2f2f2;
}
